
*{
    box-sizing: border-box;
    padding: 20px 20px;
    font-family: 'Dosis', sans-serif;
}

.headerpart{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg);
    height: 67vh;
    background-attachment: scroll, fixed;
}

.logoimg{
    width: 169px;
    background-color: #e47312;
    padding: 43px;
    margin-top: -42px;
    margin-left: -544px;
}

/* Top Navigation bar */

.navigationbar{
    display: flex;
    background-color: white;
    padding-left: 36%;
    height: 82px;
    margin-top: 20px;
}

.navbar{
    display: flex;
    float: right;
    padding: 0;
    margin-left: 58px;
    font-size: 14px;
    height: 2;

}

.freequote{
    background-color: #e47312;
    display: inline-table;
    margin-top: -95px;
    margin-left: 622px;
    padding: 19px;
    line-height: 6px;
    width: max-content;
    color: white;
}

  /* End of Navigation bar */

  /* Header banners part CSS */
.blackbanner{
    position: absolute;
    background-color: #0a1229;
    left: auto;
    top: auto;
    width: 3%;
    align-items: center;
    right: 40px;
    bottom: 271px;
    display: flex;
    padding: 21px;
    flex-direction: column;
}

/* social media Icons */
.fa {
    padding: 9px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa-facebook {
    color: white;
  }
  
  .fa-twitter {
    color: white;
  }

  .fa-linkedin {
    color: white;
  }

  .fa-instagram {
    color: white;
  }
/* End of social media icons */

/* Contacts icons */

.contactdetailscontainer{
    background-color: #e47312;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
    margin-top: 306px;
    margin-left: 402px;
    width: 1016px;
    height: 49%;
}

.icons{
    width: 79px;
}

.detailslist{
    display: flex;
    padding-top: 73px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    height: 0;
}

.iconname{
    margin-top: -12px;
    margin-bottom: -22px;
    color: #fff;
    font-size: 13px;
    line-height: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 20px 51px;
}

.para{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    margin-bottom: -23px;
    line-height: 0;
}

.details{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-align: start;
    align-items: flex-start;
    z-index: 1;
}

/* End of Contacts icons */

/* Container inside banner */

.toptitle{
    font-size: 50px;
    line-height: 48px;
    color: white;
    margin-top: -30%;
}

.titlepara{
    font-weight: 600;
    margin-left: 12px;
    margin-top: -47px;
    color: white;
    opacity: 0.7;
}

.buttongetfree{
    background-color: #e47312;
    display: inline-table;
    margin-top: -21px;
    margin-left: 33px;
    padding: 11px;
    line-height: 27px;
    color: white;
}

.getfree{
    text-decoration: none;
    color: white;
}

/* End of Container inside banner */

  /*End of Header banners part CSS */

  /* Start of SPECIALIZATION container */

  .viewservice{
    margin-top: 22px;
    margin-left: 49%;
    text-decoration: none;
    color: gray;
    font-size: 16px;
}

.toprow{
    display: flex;
}

.fourtypespecialization{
    display: flex;
}

  /* End of SPECIALIZATION container */


  /* Who we are container */

  .whowearecontainer{
    display: flex;
  }

  /* End of Who we are container */

  /* Count of works */
  .countscontainer{
    display: flex;
  }

  .numbers{
    color: #e47312;
    font-family: fantasy;
  }

  .countpara{
    color: gray;
    padding-top: 0px;
  }
  /* End of Count of works */

  /* view work container */

  .viewallwork{
    margin-left: 62%;
    text-decoration: none;
    color: gray;
    font-size: 14px;
  }

  .imagegrid{
    width: 430px;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }


  /* End of View work container */

  /* Lets make container */

  .letsmakecontainer{
    background-image: linear-gradient(to right,#e47314,#ff6361); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 39px;
}

.contone{
  background-color: rgb(247,248,252);
}

.letsmakecontainer{
  color: #FFFFFF;
  font-size: 39px;
  margin-bottom: -36px;
  line-height: 37px;
}

.letsmakepara{
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 16px;
  text-align: center;
  line-height: 25px;
}

.letmakegetquote{
  text-align: center;
  color: white;
  margin: 12px 0px;
  font-size: 12px;
}

.quotebuttonforletsmake { 
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

#containerid{
  margin-top: 59px;
}

.getfreediv{
  position: relative;
  cursor:pointer;
}
.getfreediv::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #FFFFFF;
  left: 0px;
  top:19px;
  display: none;
}

.getfreediv::after{
  display: block;
}
  /* End of Lets make container */

  /* Start of Professional */
  .professionalssocialmedia{
    position: absolute;
    background-color: #e47312;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 180px;
    margin-top: 233px;
}

.teammember1{
  display: flex;
  background-color: white;
}

.professionalname{
  font-family: system-ui;
  font-weight: 600;
}

.professionaldesignation{
  margin-left: 19px;
  color: gray;
  padding: 0px;
}


  /* End of Professional */

  /* Tesimonial start */
.pnsection3{
    margin-top: 100px;
}
.pndivis1{
  display: flex;
}

.pndivis1{
  grid-template-rows: 100%;
}
.pndivi4{
  width: 44%;
  padding: 24% 24% 24% 0%;
  display: flex;
  align-items: center;
}
.pndiv91,.pndivi4,.pndivi41,.pncl1,.pnsect1,.pnsect2,.pncl3,.pncl5,.pndivi7,.pn3{
  width: 100%;
}
.pndivi4{
  padding-right: 0px;
}
.pndivi41{
  width:56%;
  position:relative
}
.pnh12{
  font-size: 39px;
  z-index: 1;
  position: relative;
  letter-spacing: 1px;
  line-height: 29px;
}
.pnh12{
  font-size: 29px;
}
.pnp2{
  color: #919197;
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 29px;
}
.pnnav1:hover,.pndiv71:hover,.pndiv211:hover,.pndiv23:hover{
  cursor: pointer;
}
.pnli:hover .pndiv4,.pnid9:hover::after,.pndiv211:hover::after,.pndiv23:hover::after{
  display:block
}
.pndiv23{
  color: #919197;
  position: relative;
  font-size: 14px;
}
.pndiv23::after{
  position: absolute;
  content: '';
  height:2px;
  width:100%;
  background-color: #e47314;
  bottom:-9px;
  left: 0px;
  display: none;
}
.pndivi42{
  padding: 0px 2%;
  display: flex;
}
.pndivi42{
  padding: 0px 0% 0px 2%;
}
.pnsect1{
  width: 100%;
  margin: -9% 0% 8% 1%;
}
.pndivi5{
  position: relative;
  background-color: #fff;
  width:100%;
  padding: 10%;
  box-sizing: border-box;
  margin-bottom: 15%;
}
.pnh6{
  text-align: center;
  margin-bottom: 4px;
  font-size: 15px;
}
.pnpar1{
  text-align: center;
  color: rgb(189,189,206);
  margin-top: 0px;
  font-size: 15px;
}
.pnpar2{
  color: #919197;
  text-align: center;
  font-size: 15px;
}
.pndivi43{
  left: 131px;
}
.pndivi43{
  background-image: linear-gradient(189deg,#e47314,#ff6361);
  color: #fff;
  font-size: 59px;
  border-radius: 285px;
  width: 59px;
  height: 59px;
  position: absolute;
  top:-29px;
  left:79px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 9px;
}

  /* Tesimonial End */

  /* Latest news */
.pndiv21{
    padding: 9% 5%;
}
.pnsec3{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
}

.pnh12{
  font-size: 29px;
}
.pnh12{
  font-size: 39px;
  z-index: 1;
  position: relative;
  letter-spacing: 1px;
  line-height: 29px;
}
.pndiv91,.pndivi4,.pndivi41,.pncl1,.pnsect1,.pnsect2,.pncl3,.pncl5,.pndivi7,.pn3{
  width: 100%;
}
.pnnav1:hover,.pndiv71:hover,.pndiv211:hover,.pndiv23:hover{
  cursor: pointer;
}
.pnli:hover .pndiv4,.pnid9:hover::after,.pndiv211:hover::after,.pndiv23:hover::after{
  display:block
}
.pndiv211{
  position: relative;
  color: #919198;
  font-size: 13px;
  letter-spacing: 1px;
}
.pndiv211::after{
  position: absolute;
  content: '';
  height:2px;
  width:100%;
  background-color: #e47314;
  bottom:-9px;
  display: none;
}
.pnsec4{
  display: flex;
  justify-content: space-between;
}
.pncl3,.pn3{
  margin-bottom: 15%;
}
.pncl3{
  width: 32%;
  background-image: linear-gradient(153deg,#e47312, #ff6361);
  position: relative;
}
.pncl3:hover,.pndivi7:hover,.pnn{
  cursor: pointer;
}
.pncl4{
  padding: 9% 19% 9% 9%;
}
.pnhead2{
  color: #FFFFFF;
  margin: 0px;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: bold;
}
.pnpar3{
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 15px;
  line-height: 23px;
}
.pndivi6{
  position: relative;
  margin-top: 9px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
}
.pnabs1{
  position: absolute;
  top: 0px;
  right: 0px;
  color: #FFFFFF;
}
.pnbg2{
  background-image: linear-gradient(45deg, #ff6361, #e47312);
  padding:25px;
  font-size: 29px;
}
.pnbg3{
  background-color: #FFFFFF;
  color: #9d9da5;
  font-size: 15px;
  padding: 18px 24px;
  font-weight: bold;
}
  /* Latest new end */

/* Trusted by top company */

.trustedbody{
  background-image: linear-gradient(56deg, #e47312, #ff6361);
  display: flex;
}
.trustedcontainer{
  margin-top: -271px;
}

.topcompany{
  color: white;
}

.logosoftopcompany{
  text-decoration: none;
  color: white;
  font-size: 27px;
  font-weight: 700;
  padding: 47px;
}

/* End of Trusted by top company */

/* Footer */
.footercontainer{
  display: flex;
  background-color: #0a1229;
  color: white;
}
.footercontent{
  width: 100%;
}
ul{
  margin-top: -95px;
  padding: 0;
  list-style-type: none;
}
li h6{
  margin-top: -96px;
  padding: 0;
}
li p{
  color: gray;
  margin-top: -103px;
  padding: 0;
}
.footerpara{
  margin-top: -55px;
  width: 77%;
  text-align: left;
}
.footer{
  margin: -21px;
  padding: 0;
}
/* End of footer */

/* Responsive view */

@media(max-width:400px){
  body{
    margin: 0;
    padding: 20px 20px;
    font-family: 'Dosis', sans-serif;
  }

  .headerpart{
    padding: 0;
  }
  .navigationbar{
    margin:0px -79%;
    height: 83px;
}
.logo{
  padding: 0px;
}

.navitems{
  display: none;
}
.logoimg{
  margin: 0;
  padding: 14px;
  margin-left: 117px;
}

.titlepara{
  margin-bottom: 30px;
  margin-left: -74px;
}
.col-3{
  padding: 0;
  font-size: 25px;
  position: fixed;
  margin-left: -59px;
}

.col-6{
  max-width: 18%;
  margin-top: -27%;
  position: fixed;

}

.col-2{
  display: inline;
  position: fixed;
  margin-inline: -59px;
  margin-top: -272px;
  padding: 28px 45px;
}

.col-s-12{
  padding: 0;
  margin-top: -131px;
  margin-left: -62px;
}
.col-s-1{
  width: 50%;
  display: contents;
}
.col-s-4{
  display: flow;
}
.col-s-5{
  padding: 0;
  width: 100%;
}
.col-s-7{
  display: inline-block;
}
.col-s-9{
  padding: 0;
  margin: -65px;
}
.col-s-10{
  margin-left: 119px;
}
.col-s-13{
  position: relative;
}
.col-s-14{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.col-s-15{
  flex-direction: column;
}
.col-s-16{
  margin-left: 114px;
}
.col-s-17{
  display: flex;
  flex-direction: column;
  padding: 0;
}
.col-s-18{
  width: 120%;
  padding: 0;
}
.col-12{
  font-size: 28px;
  padding: 0;
}
.col-s-19{
  display: contents;
}
.col-s-20{
  display: block;
}
.col-9{
  display: contents;
}
.col-17{
  display: block;
  margin-top: 63%;
  margin-left: -41px;
}


}